
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
    color: inherit;
}

::-webkit-scrollbar{
    display: none;
}
body{
    position: relative;
}

.hero_section{
    height: 100vh;
    width: 100%;
    background-color: #032e30;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero_title{
    opacity: 10%;
    margin-top: 16rem;
    font-size: 7rem;
    font-weight: 900;
    border: none; /* taking borber from techstack h1 */
    color: #032e30;
    text-shadow: -1px 1px 0 #e7e1d9,
                  1px 1px 0 #e7e1d9,
                 1px -1px 0 #e7e1d9,
                -1px -1px 0 #e7e1d9;
}

.main_wrapper{
    height: auto;
    width: 100%;
    padding-bottom: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.main_wrapper ul{
    background-color: #2e2a27;
    width: 95%;
    list-style: none;
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content:space-between ;
    border-bottom: 1px solid ;
    padding: 1.5rem 0;
    z-index: 2;
    position: sticky;
    top: 0;
}

li{
    width: 300px;
}

.is--large{
    /* background-color: #fff; */
    position: absolute;
    left: 36%;
    font-size: 2rem;
    display: flex;
    font-weight: 800;
    justify-content: center;
}

.rights{
    display: flex; 
    justify-content: end;
}

.quote{
    margin-top: 4rem;
}

.text_wrap{
    /* margin-top: 4rem; */
    overflow: hidden;
}

.text_wrap h1{
    font-size: 9rem;
    font-weight: 700;
    line-height: 8rem;
    text-justify: inherit;
    text-align: center;
    overflow: hidden;
}

.sticky--circle{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300vh;
    margin-top: 4rem;
    /* top: 12rem; */
}

.sticky--circle img{
    position: sticky;
    top: 10rem;
    object-fit: cover;
    width: 25rem;
    height: 20rem;
    border-radius: 1rem;
    filter: sepia(90%);
}

.about{
    /* background-color: blue; */
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    position: relative;
}
.about__text{
    margin: 1rem 2rem;
}

.tech__stack{
    width: 95%;
    padding: 0 3rem;
    margin-bottom: 14rem;
    color: #e7e1d9;
    background-color: #032e30;
    border-radius: 0.5rem;
}
.tech__stack h2,.tech__stack h1{
    display: flex;
    margin: 0;
    padding: 2rem 0;
    border-bottom: 1px solid #e7e1d9;
}
.tech__stack h1{
    font-size: 4rem;
}
.arrow{
    padding: 1rem;
    font-size: 3rem;
}




.grid--wrapper{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid--wrapper .img-1{
    width: 16rem;
    margin: 1rem;
    transform: translateY(-3rem);
    object-fit: cover;
    border-radius: 0.5rem;
}

.grid--wrapper .img-2{
    width: 14rem;
    margin: 1.5rem;
    transform: translateY(8rem);
    object-fit: cover;
    border-radius: 0.5rem;
}

.grid--wrapper .img-3{
    width: 20rem;
    margin: 2rem;
    transform: translateY(4rem);
    object-fit: cover;
    border-radius: 0.5rem;
}

.grid--wrapper .img-4{
    width: 16rem;
    margin: 1rem;
    transform: translateY(10rem) ;
    object-fit: cover;
    border-radius: 0.5rem;
}

.grid_container{
    /* background-color: aqua; */
    margin-top: 6rem;
    position: relative;
}

.title-list{
    position: sticky;
    bottom: 0;
    z-index: -1;
}

.titleItem{
    position: absolute;
    font-size: 12rem;
    bottom: 0;
    left: 1rem;
    opacity: 0;
}
.pro_title{
    position: absolute;
    font-size: 1rem;
    opacity: 1;
    bottom: 2rem;
    right: 1rem ;
    font-weight: 400;
}

.active{
    opacity: 1 !important;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.hero_title{
    font-size: 5rem;
}


.main_wrapper ul{
    font-size: small;
}

li{
    width: 100px;
    display: none;
}

.rights{
    display: none;
}




.text_wrap h1{
    font-size: 4rem;
    line-height: 4rem;
}
.titleItem{
    position: absolute;
    font-size: 4rem;
    bottom: 0;
    left: 1rem;
    opacity: 0;
}



.grid--wrapper .img-1{
    transform: translateY(5rem);
}

.grid--wrapper .img-2{
    transform: translateY(2rem);
}

.grid--wrapper .img-3{
    transform: translateY(2rem);
}

.grid--wrapper .img-4{
    transform: translateY(1rem) ;
}
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.cursor {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid black;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 3;
    
  }
  
  .cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* opacity: .3; */
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
    z-index: 3;
    background-color: #fff;
    mix-blend-mode: difference;
  }


  .hover {
    width: 80px;
    height: 80px;
  }

  .loader{
    height: 100vh;
    width: 100vw;
    background-color: #2e2a27;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 3;
  }
  
  
